<app-nav></app-nav>
<div style="margin-top: 2rem; margin-left: 5rem; margin-right: 5rem">
  <!-- Inicio -->
  <div>
      <div class="container">
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
              <img src="../../../assets/pot1.png" style="width: 25%;">
              <img src="../../../assets/pot2.png" style="width: 25%;">
              <img src="../../../assets/pot3.png" style="width: 25%;">
              <img src="../../../assets/pot6.png" style="width: 25%;">
          </div>
          <!-- /Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
              <br>
              <p align="end" class="lead">Desde aquí podrás agregar una nueva matera a la familia. ¿Qué esperas?</p>
              <button class="btn btn-success btn-lg" (click)="agregarMatera()">Agregar matera</button>
              <button *ngIf="role == 1" class="btn btn-success btn-lg" (click)="crearMatera()" style="margin: 5px;">Crear matera</button>
          </div>
          <!-- /Grid column -->
        </div>
        <!-- /Grid row-->
        <hr class="my-4">
      </div>
  </div>
  <!-- /Inicio -->
  <!-- Cards -->
  <div>
    <div style="text-align: center"><img src="../../../assets/diseño-de-marca/TuFamilia2.0.png" style="width: 45%;"></div>
    <!-- <h3 class="title">Tu familia</h3> -->
    <div class="row justify-content-center">
      <div *ngFor="let pot of pots; let i=index" class="pot-card">
        <a role="button" [routerLink]="['/report', pot.id]" style="text-decoration:none">
          <div [class]="clase[i%4]">
            <div class="card-body">
              <h4 class="card-title pot-card__info">{{pot.name}}</h4>
              <p class="card-text pot-card__info">Esta matera es de tipo:</p>
              <p>{{pot.type}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!-- Cards -->
</div>
