<!-- Footer -->
<footer class="page-footer font-small unique-color-dark footer">

    <div class="background-green-cake">
      <div class="container">  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Contáctanos en nuestras redes sociales!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">  
            <!-- Facebook -->
            <a style="margin: 10px; color: black;">
              <i class="fa fa-facebook-official fa-2x" aria-hidden="true"> </i>
            </a>
            <!-- Twitter -->
            <a style="margin: 10px; color: black;">
              <i class="fa fa-twitter fa-2x" aria-hidden="true"> </i>
            </a>
            <!--Linkedin -->
            <a style="margin: 10px; color: black;">
              <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"> </i>
            </a>
            <!--Instagram-->
            <a style="margin: 10px; color: black;">
              <i class="fa fa-instagram fa-2x" aria-hidden="true"> </i>
            </a>  
          </div>
          <!-- Grid column -->  
        </div>
        <!-- Grid row-->  
      </div>
    </div>

    <!-- Footer Links -->
    <div class="background-green-ligth text-center text-md-left">
    <br>
      <!-- Grid row -->
      <div class="row mt-3" >
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold" style="color: azure;">Company name</h6>
          <hr class="mt-0 d-inline-block mx-auto" style="width: 60px; background-color: black;">
          <p style="color: black;">Proyecto desarrollado para el curso IoT.</p>
          <p style="color: black;">Universidad de Antioquia.</p>
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: azure;">Productos</h6>
          <hr class="mt-0 d-inline-block mx-auto" style="width: 60px; background-color: black;">
          <p>
            <a href="#!" style="color: black;">MDBootstrap</a>
          </p>
          <p>
            <a href="#!" style="color: black;">MDWordPress</a>
          </p>  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: azure;">Enlaces útiles</h6>
          <hr class="mt-0 d-inline-block mx-auto" style="width: 60px; background-color: black;">
          <p>
            <a href="#!" style="color: black;">Ingresa a tu cuenta</a>
          </p>
          <p>
            <a href="#!" style="color: black;">Crea tu cuenta</a>
          </p>  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold" style="color: azure;">Contacto</h6>
          <hr class="mt-0 d-inline-block mx-auto" style="width: 60px; background-color: black;">
          <p style="color: black;">
            <i class="fa fa-home fa-2x" aria-hidden="true"></i> Medellín, Antioquia, Colombia</p>
          <p style="color: black;">
            <i class="fa fa-envelope fa-1x fa-lg" aria-hidden="true"></i> info@jalian.com</p>
          <p style="color: black;">
            <i class="fa fa-phone mr-3 fa-2x" aria-hidden="true"></i> + 57 321 917 00 11</p> 
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="text-center py-1 background-green-dark" style="color: azure;">© 2020 Copyright
        <p><strong>JALIAN PLANTER</strong></p>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->