@import url("https://fonts.googleapis.com/css?family=Roboto:300,400");
@import "../../../styles.scss";
.card {
  //min-width: 457px;
  display: block;
  background-color: #1b4b36;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: none;
  overflow: hidden;
  color: #0a0a0a;
}
.card-content {
  background: $green-ligth;
  color: white;
  text-align: center;
  padding: 5px 20px;
}
.card h3,
.card p {
  font-family: "Roboto", sans-serif;
}
.card p {
  font-weight: 300;
}
